{% if menu %}
	<ul class="display_items">
	{% for item in menu %}
		<li id="display_item" class="{{item.classes | join(' ')}}">
			<a class="menu_target_link" target="{{ item.target }}" href="{{item.get_link}}">{{item.title}}</a>
			{% include "components/menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
		<li id="display_item">
			<div id="search-2" class="widget widegt_search">
				<form role="search" method="get" class="search-form" action="//localhost:3000/Wordpress-boilerplate/public/">
					<label>
						<input type="search" class="search-field" placeholder="Articles..." value name="s">
					</label>
					<input type="submit" class="search-submit" value="rechercher">
				</form>
			</div> 
		</li>
	</ul>
{% endif %}
