<header class="header">
	<h1 class="container_logo" role="banner">
		<a class="header_logo_link" href="{{site.url}}/accueil" rel="home">{{site.name}}</a>
	</h1>
	<nav id="nav_main">
		{% include "components/menu.twig" with {'menu': menu.get_items} %}
	</nav>
</header>


